.my-app-button {
    padding: 50px;
    background-color: yellowgreen;
    margin-right: 20px;
    &:hover {
        background-color: tomato;
    }
}

* {
    /* font-family: "__IBM_Plex_Sans_9bf800", "__IBM_Plex_Sans_Fallback_9bf800" !important; */
    font-family: "IBM Plex Sans", serif !important;
}

body {
    background-color: #121212 !important;
}

.custom-width .MuiPaper-root {
    width: 180px !important;
}

/* .Mui */
.MuiPopover-paper {
    background-color: #111317 !important;
    border: 1px solid #303840 !important;
    padding: 6px;
    border-radius: 12px;
}
.MuiPopover-paper .active {
    /* background-color: #1a324c; */
    background-color: #003b7566;
    color: #99ccfe !important;

    &:hover {
        background-color: #1a324c !important;
        color: white;
    }
}

.MuiPopover-paper .MuiMenuItem-root {
    color: #b6bec9;
    padding: 6px 8px;
    margin-bottom: 4px;
    border-radius: 6px;
    font-size: 0.875rem;
    &:last-child {
        margin-bottom: 0px;
    }
    &:hover {
        background-color: #1d2126;
        color: white;
    }
}

.MuiPopover-paper .MuiList-root {
    padding: 0px;
}

.datePicker .MuiInputBase-root {
    color: white !important;
    /* max-width: 127px !important; */
    font-size: 14px;
    flex-direction: row-reverse;
    height: 36px;
    gap: 16px;
    padding: 0;
    border-radius: 8px !important;
    border: 1px solid #303840;
}

.datePicker .MuiInputBase-root input {
    padding: 0;
    display: inline !important;
    flex-grow: 1;
}

.datePicker .MuiIconButton-root {
    color: white !important;
}
.datePicker .MuiInputBase-input {
    padding: 5px;
}

.data-card .MuiBadge-badge {
    transform: none !important;
    position: relative;
}

.focus-div:focus-within {
    border: 2px solid #66b3ff !important;
}

.css-1jxw05q-MuiTableCell-root {
    background-color: transparent !important;
}
